article.bio(id="bio")
	div(class="bio__top-decoration" role="presentation")
		div(class="bio__top-decoration-inner" role="presentation")

	div.bio__content
		div.bio__content-inner
			h3.bio__heading Bio
			figure.bio__figure
				img.bio__img(title=images.bio[0].title alt=images.bio[0].alt src=images.bio[0].src srcset=images.bio[0].srcset width='72')
			//- div.bio__text-cutout
			include:markdown-it ../txt/bio.md