section.bio
	div.bio__top-decoration(role="presentation")
		div.bio__top-decoration-inner
	div.bio__content
		h3.bio__heading Bio
		figure.bio__figure
			img.bio__img(title=images[7].title alt=images[7].alt src=images[7].src srcset=images[7].srcset)
		div.bio__text-cutout
		//- div.bio__text-wrap
		p I am a front-end developer with 6 years of experience building websites for individuals and small businesses. I have a B.A. in Fine Art from the University of New Orleans. I am good at web design and I like to do it.
		p My background is in graphic design. I founded Sediment Press in 2012 as graphic design and screen printing company designing event posters, cards, clothing, and fine art prints.
	