section(class="carousel" aria-labelledby="carousel-heading")
  h3(id="carousel__heading" class="visually-hidden") Portfolio
  ul(class="carousel__track")
    li(class="carousel__panel carousel__panel--0")
      include ../images/svg/optimized/panel-0.svg
      figure(class="carousel__device carousel__device--00")
        div(class="carousel__device__border carousel__device__border--00" role="presentation")
          include ../images/svg/optimized/device-00.svg
        div(class="carousel__device__screen carousel__device__screen--00")
          img(class="carousel__device__screen-content carousel__device__screen-content--00" src="images/center-staging_device-00.jpg")
      figure(class="carousel__device carousel__device--01")
        div(class="carousel__device__border carousel__device__border--01" role="presentation")
          include ../images/svg/optimized/device-01.svg
        div(class="carousel__device__screen carousel__device__screen--01")
          img(class="carousel__device__screen-content carousel__device__screen-content--01" src="images/center-staging_device-01.jpg")
    li(class="carousel__panel carousel__panel--1")
      include ../images/svg/optimized/panel-1.svg
      figure(class="carousel__device carousel__device--02")
        div(class="carousel__device__border carousel__device__border--02" role="presentation")
          include ../images/svg/optimized/device-02.svg
        div(class="carousel__device__screen carousel__device__screen--02")
          img(class="carousel__device__screen-content carousel__device__screen-content--02" src="images/center-staging_device-02.png")
      //- figure(class="carousel__device carousel__device--03")
      //-   div(class="carousel__device__border carousel__device__border--03" role="presentation")
      //-     include ../images/svg/optimized/device-03.svg
      //-   div(class="carousel__device__screen carousel__device__screen--03")
      //-     img(class="carousel__device__screen-content carousel__device__screen-content--03" src="images/center-staging_device-01.jpg")