mixin footer-menu-item(title, anchor)
  li.footer-menu__portfolio-item
    a(href=anchor) !{title}

footer
  nav.footer-menu
    h4.footer-menu__heading.footer-menu__heading--portfolio Portfolio
    ul.footer-menu__list.footer-menu__list--portfolio
      +footer-menu-item("Center Staging", "#center-staging")
      +footer-menu-item("Raven", "#raven")
      +footer-menu-item("Sediment Press", "#sedimentpress")
      +footer-menu-item("CDesigns, Inc.", "#cdesigns")
    
    h4.footer-menu__heading.footer-menu__heading--bio Bio
    ul.footer-menu__list.footer-menu__list--bio
      +footer-menu-item("Bio", "#bio")

    h4.footer-menu__heading.footer-menu__heading--contact Contact
    ul.footer-menu__list.footer-menu__list--contact
      +footer-menu-item("Email", "#")
      +footer-menu-item("Twitter", "#")
      +footer-menu-item("CodePen", "#")
      +footer-menu-item("GitHub", "#")

      

