head
    meta(charset='UTF-8')
    title Charles Robertson Design
    meta(name='viewport' content='width=device-width, initial-scale=1')

    // SEO
    meta(name='description' content='Web design portfolio of Charles Robertson')
    meta(name='author' content='Charles Robertson')

    // OpenGraph
    meta(property='og:title' content='Charles Robertson Web Design')
    //- meta(property='og:image' content='')
    meta(property='og:description' content='The web design portfolio of Charles Robertson')
    meta(property='og:url' content='https://charlesrobertson.io')
    meta(property='og:site_name' content='Charles Robertson Web Design')

    // Twitter
    meta(name='twitter:title' content='Charles Robertson Web Design')
    meta(name='twitter:description' content='The web design portfolio of Charles Robertson')
    //- meta(name='twitter:image' content='')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:image:alt' content='Screen shot of charlesrobertson.io')

    // Favicon
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name='msapplication-TileColor' content="#da532c")
    meta(name='theme-color' content='#eeeeee')

    // Style
    link(rel='stylesheet' href='style.css')


    // Scripts
