header.site-header(role="banner")
   div.site-title
    h1 #[span.web-design Web Design] #[span.portfolio Portfolio]
    h2 Charles Robertson
    nav.social(aria-label="Social")
      ul
        each link in socialLinks
          li
            a(href=link.href alt="Charles on " + link.name)
              div(class="icon social__icon" width="32px")
                //- include #{'../images/svg/icon-' + link.slug + '.svg'}
    

