main
  section(class="carousel" aria-labelledby="carousel-heading")
    h3(id="carousel__heading" class="visually-hidden") Portfolio
    ul(class="carousel__track")
      li(class="carousel__device carousel__device--01")
        div(class="carousel__device__border carousel__device__border--01" role="presentation")
          include ../images/svg/optimized/carousel-panel_00.svg
        div(class="carousel__device__screen carousel__device__screen--01")
          img.carousel__device__screen-content(src="images/center-staging_home_mobile_portrait.jpg")