.bio
    background-color color0
    overflow hidden

.bio__content
    background-color color8
    border-radius 0 3rem 3rem 0
    padding margin1 margin0
    position relative
    overflow hidden

.bio__heading
    margin-top 0
    font-size 2rem

.bio__figure
    width 60vw
    border-radius 40vw
    overflow hidden
    margin 0 -13% 0 0
    float right
    shape-outside circle(60%) border-box

.bio__img
    width 100%


    

