

.carousel__track
    list-style none
    padding 0 0
    margin margin0 0


.carousel__device
    
.carousel__device__border
    width "calc(100vw - calc(2 * %s))" % margin0
    position relative
    z-index 20
    
    svg
        display block
        fill #000
        stroke #FFF
        stroke-width 1

.carousel__device__screen--01
    width "calc(calc(100vw - calc(2 * %s)) * .21)" % margin0
    height 0
    padding-bottom 37%
    position absolute
    bottom 6.9%
    overflow hidden
    left 1.05%
    z-index 0

.carousel__device__screen-content
    width 100%
    position absolute