.footer
	background-color color8

.footer-inner
	padding margin1 margin0
	border-radius 3rem 0 0 0
	background-color color0
	font-size .875rem
	color color8

.footer-menu
	display grid
	grid-template-areas "portfolio-heading about-heading contact-heading" "portfolio-list about-list contact-list"
	grid-template-columns auto auto auto
	justify-content space-between
	margin-bottom margin0

.footer-menu__heading
	width auto
	font-size 1.25em
	margin 0 0 .375rem
	color color9

	&--portfolio
		grid-area portfolio-heading

	&--about
		grid-area about-heading
	
	&--contact
		grid-area contact-heading


.footer-menu__list
	width auto
	list-style none
	padding-left 0
	line-height 1.5
	font-size 1em

	&--portfolio
		grid-area portfolio-list
	
	&--bio
		grid-area about-list
	
	&--contact
		grid-area contact-list

.footer-back-to-top
	margin-bottom margin0

.footer-back-to-top__link
	display flex
	flex-direction column-reverse
	align-items center
	padding .5em

	&:visited
		color colorA

.icon--back-to-top
	width 3em
	margin-bottom .5em
	fill currentColor

.footer-about
	font-size .75rem
	color color7
	margin-bottom margin1

.footer-about__heading
	font-size .875rem
	color color8

.footer-copyright
	font-size .75rem
	color color7
	text-align right