color0 = #000
color8 = #DDD
color9 = #FFF
colorA = #008aff
colorB = mediumorchid

margin0 = 1.25rem // Distance from screen edge
margin1 = 2.5rem // Vertical distance between blocks

font-family__heading = "AkzidenzGrotesk-Super", "Helvetica-Neue-Black", "Helvetica-Black", "Ariel-Black", sans-serif

/* Define the "system" font family */
@font-face {
  font-family System
  font-style normal
  font-weight 300
  src local(".SFNSText-Light")
  src local("Helvetica Neue")
  src local(".HelveticaNeueDeskInterface-Light")
  src local(".LucidaGrandeUI")
  src local("Ubuntu Light")
  src local("Segoe UI Light")
  src local("Roboto-Light")
  src local("DroidSans")
  src local("Tahoma")
}

@font-face {
  font-family 'AkzidenzGrotesk-Super'
  font-style normal
  font-weight normal
  src url('fonts/AkzidenzGroteskBQ-Super.woff')  format('woff')
  src url('fonts/AkzidenzGroteskBQ-Super.woff')  format('woff2')
}

body
  font-family System, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
  background-color color8
  margin 0

h1, h2, h3, h4, h5, h6 {
  font-family font-family__heading
  font-weight normal;
  font-style normal;
  // letter-spacing: .04em;
}

a
  color colorA
  text-decoration none

  &:visited
    color colorB

.icon
  a display block

  svg
    overflow visible
    display block
    fill color0

// Atomic
.visually-hidden
  display none