main-column-width = 52rem

margin0 = var(--margin0)
margin1 = var(--margin1)
margin2 = var(--margin2)

color0 = #000
color7 = #CCC
color8 = #EEE
color9 = #FFF
// color9 = #FFF
colorA = #008AFF
colorB = mediumorchid

font-family__heading = "AkzidenzGrotesk-Super", "Helvetica-Neue-Black", "Helvetica-Black", "Ariel-Black", sans-serif

/* Define the "System" font family */
@font-face {
  font-family System
  font-style normal
  font-weight 300
  src local(".SFNSText-Light")
  src local("Helvetica Neue")
  src local(".HelveticaNeueDeskInterface-Light")
  src local(".LucidaGrandeUI")
  src local("Ubuntu Light")
  src local("Segoe UI Light")
  src local("Roboto-Light")
  src local("DroidSans")
  src local("Tahoma")
}

@font-face {
  font-family 'AkzidenzGrotesk-Super'
  font-style normal
  font-weight normal
  src url('fonts/AkzidenzGroteskBQ-Super.woff')  format('woff')
  src url('fonts/AkzidenzGroteskBQ-Super.woff')  format('woff2')
}

:root
  --margin0: 1.25rem // Left-right margin from screen edge
  --margin1: 2.5rem  // Vertical distance between elements
  --margin2: 3.75rem  // Vertical distance between major sections (increases on larger screen sizes)

html
  font-size 100%
  scroll-behavior smooth

body
  font-family System, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif
  background-color color8
  margin 0

h1, h2, h3, h4, h5, h6 {
  font-family font-family__heading
  font-weight normal;
  font-style normal;
}

a
  color colorA

  &:visited
    color colorB

.icon
  display block

  svg
    overflow visible
    display block
    fill color0

// Atomic
.visually-hidden
  position absolute
  overflow hidden
  height 1px
  width 1px
  opacity 0
  padding 0
  border 0