color0 = #000
color8 = #DDD
color9 = #FFF
colorA = #3ba5ff
colorB = mediumorchid

margin0 = 1.25rem // Distance from screen edge
margin1 = 3rem // Vertical distance between blocks


@font-face {
  font-family 'AkzidenzGrotesk-Super'
  font-style normal
  font-weight normal
  src url('fonts/AkzidenzGroteskBQ-Super.woff')  format('woff')
  src url('fonts/AkzidenzGroteskBQ-Super.woff')  format('woff2')
}

body
  font-family sans-serif
  background-color color8
  margin 0

h1, h2, h3, h4, h5, h6 {
  font-family: "AkzidenzGrotesk-Super", "Helvetica-Neue-Black", "Helvetica-Black", "Ariel-Black", sans-serif;
  font-weight: normal;
  font-style: normal;
  // letter-spacing: .04em;
}

a
  color colorA

  &:visited
    color colorB

.icon
  a display block

  svg
    overflow visible
    display block
    fill color0

// Atomic
.visually-hidden
  display none