// .site-header
  // margin-bottom 1.5rem

.site-title
  // display grid
  display flex
  flex-wrap wrap
  // grid-template-areas "charles-robertson contact" "web-design web-design"

  h1, h2
    margin-top 0
    margin-bottom 0
    color color9

.site-title__web-design, .site-title__portfolio, .site-title__charles-robertson
  padding .55em margin0 .54em
  color color8
  background-color color0
  line-height 1

.site-title__charles-robertson
  text-align right
  padding-right 1.75em
  padding-top .7em
  border-radius 0 2em 2em 0
  font-size 1.25em
  order 1
  // grid-area charles-robertson

.site-title__web-design
  padding-left 1.5em
  border-radius 2em 0 0 2em
  margin-left auto
  text-transform uppercase
  font-size 2.25em
  order 3
  // grid-area web-design

.site-title__contact
  order 2

.site-title__contact-list
  height 100%
  list-style none
  padding .05em 1.25rem .05em .375em
  margin 0
  display flex
  justify-content flex-start
  align-items center
  
.site-title__contact-item
  padding .5em .25em
  
  &:first
    padding-left 0
  
  &:last-child
    padding-right 0

.social-icon svg
  width 1.75em
  fill colorA

.main-menu
  padding 0 margin0
  
.main-menu__list
  list-style none
  padding-left 0
  display flex
  justify-content space-around
  margin-bottom 0
  font-family font-family__heading
  font-size 1.125em
  text-transform lowercase

.main-menu__item
  padding-bottom .2em

  a
    &:visited
      color: colorA
  
  &--portfolio
    border-bottom: .2em solid colorA



