.site-header
  margin-bottom 0

.site-title
  display grid
  grid-template-areas "charles-robertson contact" "web-design web-design"

  h1, h2
    margin-top 0
    margin-bottom 0
    color color9

.site-title__web-design, .site-title__portfolio, .site-title__charles-robertson
  padding .55em margin0 .54em
  color color8
  background-color color0
  line-height 1

.site-title__web-design
  padding-left 2em
  border-radius 2em 0 0 2em
  margin-left auto
  text-transform uppercase
  font-size 2.25rem
  grid-area web-design

.site-title__charles-robertson
  padding-right 1em
  padding-top .7em
  border-radius 0 2em 2em 0
  font-size 1.25rem
  grid-area charles-robertson

.site-title__contact-list
  height 100%
  list-style none
  padding .05em 1.25rem .05em .375em
  margin 0
  display flex
  justify-content flex-start
  align-items center
  
.site-title__contact-item
  padding .5em .25em
  
  &:first
    padding-left 0
  
  &:last-child
    padding-right 0

.social-icon svg
  width 1.75rem
  fill colorA

.main-menu
  padding 0 margin0
  font-size 1.125rem
  
.main-menu__list
  list-style none
  padding-left 0
  display flex
  justify-content space-around
  margin-bottom 0

.main-menu__item
  font-family font-family__heading
  font-size 1.125rem

  a
    // text-decoration none
    &:visited
      color: colorA



