@media screen and (min-width: 400px)
    .main-menu
        font-size calc(calc(.0179 * 100vw) + 12.85px)

// @media screen and (min-width: 500px)
//     .bio__figure
//         width 13.43rem

@media screen and (min-width: 640px)
    :root
        --margin0: 2.5rem
        --margin1: 3.75rem

    // .bio__figure
    //     width 15.03rem

@media screen and (min-width: 725px)
    // .bio__figure
    //     width 16rem

@media screen and (min-width: 768px)
    .site-title
        font-size 2.063rem

@media screen and (min-width: 850px)
    .main-menu
        font-size 1.75rem
        margin 0 auto

@media screen and (min-width: 960px)
    .site-title
        font-size 2.917

        &__charles-robertson
            padding-left "calc(calc(100vw - calc(52.5rem + %s)) / 2)" % margin0
        
        &__web-design
            padding-right "calc(calc(100vw - calc(52.5rem + %s)) / 2)" % margin0
            
@media screen and (min-width: 1024px)
    .site-header
        margin-bottom margin1

    .no-js
        .portfolio-item
            grid-template-columns auto 1fr
            grid-template-areas "info gallery"
            align-items center
            

            &:last-child
                .portfolio-info__bottom-decoration
                    display block
    
        .portfolio-info
            max-width 45rem

        .portfolio-info__bottom-decoration-inner
            border-radius 0 0 3rem 0

        .portfolio-gallery
            height 33vw
            max-height 23.75rem
            margin-top (89/16)rem

        .portfolio-gallery__slides
            padding 3rem 0 3.25rem

        .portfolio-gallery__slide
            &--00
                .portfolio-gallery__slide-inner
                    margin-left 4rem

            &--01
                padding 3rem 0

            &--02
                padding 1rem 0

            &--04
                padding 1rem 0
            
        .portfolio-gallery__slide-inner
            margin 0 2rem

    .bio__top-decoration-inner
        display none

    .bio__figure
        float right
        shape-outside circle(56% at 57% 43%)
        width 15rem
        margin var(--margin1) 0 var(--margin0) var(--margin0)
        border-radius 50% 50% 50% 50%
        overflow hidden

    // .bio__content 
    //     background-color #ddd
    //     border-radius 0 0 3rem 0
    //     padding 0 0 var(--margin1) var(--margin0)
    //     position relative
    //     overflow hidden
    //     line-height 1.5

    .bio__content-inner
        width 52rem
        margin 0 auto
        
    

    