margin0-over-640px = 2.5rem
margin1-over-640px = 3.75rem

@media screen and (min-width: 400px)
    .main-menu
        font-size calc((.0179 * 100vw) + 12.85px)

    .footer-back-to-top
        justify-content flex-end

    .portfolio-info__title
        font-size 1.75rem

@media screen and (min-width: 640px)
    :root
        --margin0: margin0-over-640px
        --margin1: margin1-over-640px
        --margin2: calc(13.02vw - 1.458rem)

@media screen and (min-width: 768px)
    .site-title
        font-size 2.063rem

@media screen and (min-width: 850px)
    .main-menu
        font-size 1.75rem
        margin 0 auto

@media screen and (min-width: (main-column-width + margin0-over-640px))
    .bio__heading
        margin-top 0

    .bio__content
        padding-right margin0
        border-radius 0 0 3rem 0

    .bio__figure
        shape-outside circle(51% at 57% 53%)
        width 13.43rem
        margin 0 0 margin0 margin0
        border-radius 50%

@media screen and (min-width: 960px)
    .site-title
        font-size 2.917

        &__charles-robertson
            padding-left "calc(calc(100vw - calc(52.5rem + %s)) / 2)" % margin0
        
        &__web-design
            padding-right "calc(calc(100vw - calc(52.5rem + %s)) / 2)" % margin0
            
@media screen and (min-width: 1024px)
    :root
        // --margin2: 

    .no-js
        .portfolio-item
            grid-template-columns auto 1fr
            grid-template-areas "info gallery"
            align-items center
            

            &:last-child
                .portfolio-info__bottom-decoration
                    display block
    
        .portfolio-info
            width 50vw
            max-width 45rem

        .portfolio-info__bottom-decoration-inner
            border-radius 0 0 3rem 0

        .portfolio-gallery
            height 33vw
            max-height 23.75rem
            margin-top (89/16)rem

        .portfolio-gallery__slides
            padding 3rem 0 3.25rem

        .portfolio-gallery__slide

            &:first-child .portfolio-gallery__slide-inner
                margin-left 6rem

            &:first-child .portfolio-gallery__slide-inner
                margin-left 6rem

            &--01
                padding 3rem 0

            &--02
                padding 1rem 0

            &--04
                padding 1rem 0
            
        .portfolio-gallery__slide-inner
            margin 0 2rem

        .portfolio-gallery__device-screen--06
            border-radius 1vw
    
    
    .bio__top-decoration-inner
        display none



    // .bio__content 
    //     background-color #ddd
    //     border-radius 0 0 3rem 0
    //     padding 0 0 var(--margin1) var(--margin0)
    //     position relative
    //     overflow hidden
    //     line-height 1.5

    // .bio__content-inner
    //     width 52rem
    //     margin 0 auto
        
    

    