// .no-js .site-header
    // margin-bottom 3rem
padding-bottom__portfolio-slides = 4.25rem

.portfolio-item
    display grid
    grid-template-areas "gallery" "info"
    .no-js &
        margin-bottom margin1

        &:last-child
            margin-bottom 0

            .portfolio-info__bottom-decoration
                display none

.portfolio-gallery
    grid-area gallery
    height "calc(50vw + %s + %s)" % (margin1 padding-bottom__portfolio-slides)

    .no-js &
        overflow-x scroll
        scrollbar-width thin

.portfolio-gallery__slides
    display flex
    height 100%
    margin 0
    padding margin1 0 padding-bottom__portfolio-slides
    list-style none

.portfolio-gallery__slide
    text-align center
    height 100%

    // &:first-child .portfolio-gallery__slide-inner
    //     margin-left: 4rem

    // &:last-child .portfolio-gallery__slide-inner
    //     margin-right: 4rem

    &--01
        padding 6vw 0
    
    &--02
        padding 4vw 0

    &--04
        padding 2vw 0
    // &--05
    //     padding 8vw 0

.portfolio-gallery__slide-inner
    display inline-block
    position relative
    height 100%
    margin 0 9.25vw

.portfolio-gallery__slide-aspect
    display block
    height 100%

.portfolio-gallery__device
    // display inline-block
    position absolute
    width 100%
    height auto
    margin 0
    z-index 0
    
    &:focus-within
        .portfolio-gallery__device-overlay
            stroke: colorA0

    &--00
        width 23.17%
        left 0
        bottom 0
        z-index 10

    &--01
        width 82.1%
        left 15.20%
        bottom 0

    &--02
        left 0
        top 0

    &--03
        left 0
        top 0

    &--06
        left 0
        top 0

.portfolio-gallery__device-overlay
    display block
    position relative
    overflow visible
    z-index 20
    pointer-events none
    width 100%
    height auto
    
    fill color0
    stroke color8
    stroke-width .5
    // transition fill .2s ease

    &:hover
        stroke colorA0
        stroke-width .75

.portfolio-gallery__device-screen
    position absolute
    overflow-x hidden
    overflow-y scroll
    height 0
    z-index 0
    background-color color0
    scrollbar-width none

    &--00
        width 91.33%
        padding-bottom 159.19%
        left 4.33%
        top 8.79%

    &--01
        width 91.24%
        padding-bottom 51.98%
        left 4.38%
        top 6.02%

    &--02
        width 82.01%
        padding-bottom 47.44%
        left 9.04%
        top 4.33%

    &--03
        width 75.53%
        padding-bottom 40.34%
        left 12.38%
        top 9.29%

    // &--04
    //     width 86.23%
    //     padding-bottom 125.71%
    //     left 6.89%
    //     top 7.25%

    // &--05
    //     width 85.91%
    //     padding-bottom 61.18%
    //     left 7.04%
    //     top 7.39%

    &--06
        width 91.84%
        padding-bottom 198.94%
        left 4.08%
        top 2.13%
        border-radius 2.5vw

.portfolio-gallery__device-content
    position absolute
    width 100%
    top 0
    left 0
    -webkit-overflow-scrolling touch
    transition opacity .5s ease

.portfolio-info
    margin-bottom margin1

    &:last-child
        margin-bottom 0

.portfolio-info__slides
    list-style none
    padding-left 0
    margin-bottom 0

.portfolio-info__header
    display inline-block
    padding 1rem 2.75rem 1rem margin0
    color color9
    background-color color0
    border-radius 0 3rem 3rem 0
    margin-right auto

.portfolio-info__title
    margin 0
    font-size 1.5rem
    text-transform uppercase

.portfolio-info__link
    display inline-block
    font-size 1.25rem
    font-style italic

.portfolio-info__text-wrap
    display flex
    position relative
    flex-direction column
    padding margin0 margin0 0
    background-color color0
    color color8
    border-radius 0 3rem 0 0
    line-height 1.5
    z-index 1

.portfolio-info__text
    color color8
    max-width 75ch

    &:first-child
        margin-top 0

.portfolio-info__heading
    font-size 1.5rem
    margin "calc(%s / 2)" % margin0 0
    color color9

.portfolio-info__list
    margin-top 0
    margin-bottom 0

.portfolio-info__bottom-fill
    background-color #000
    position absolute
    bottom 0
    left 0
    right 0
    height 50%
    z-index 0

.no-js .portfolio-info__bottom-decoration
    background-color color8

.no-js .portfolio-info__bottom-decoration-inner
    padding-bottom margin1
    border-radius 0 0 0 3rem
    background-color color0

// .portfolio-info__next
//     background none
//     width 2.25rem
//     padding 10%
//     position absolute
//     right 0
//     top 50%
//     padding 0
//     border none
//     transform translateY(-50%)
//     opacity .75
//     transition opacity .2s ease

//     &:hover
//         opacity 1

// .portfolio-info__half-circ
//     fill colorA0
//     // opacity .75

// .portfolio-info__right-arrow
//     stroke color9
//     stroke-width 25
//     stroke-linejoin round
//     stroke-linecap round
//     fill none
    
