
.glide
    height "calc(60vw + %s)" % (2 * margin1)
    margin 0 0 1rem
    overflow hidden

.glide__track
    height 100%

.glide__slides
    height 100%
    margin 0
    padding-top: margin1
    padding-bottom: margin1

.glide__slide
    text-align center

.glide__slide-inner
    display inline-block
    position relative
    height 100%
    // margin 0 auto

    & > svg
        display block
        position relative
        height 100%

.device
    margin 0
    position absolute
    z-index 0
    &--00
        width 23.17%
        left 0
        top 35.64%
        z-index 10

    &--01
        width 84.80%
        left 15.20%
        top 11.62%

    &--02
        width 49.71%
        left 5.49%
        top 0

    &--03
        width 74.61%
        left 0
        top 45.55%

    &--04
        width 36.65%
        left 63.35%
        top 10.77%

    &--05
        width 100%
        left 0
        top 0
    
    &--06
        width 100%
        left 0
        top 64.12%

.device__border
    position relative
    z-index 20
    
    svg
        display block
        overflow visible
        fill color0
        stroke color8
        stroke-width .5
        transition: fill .2s ease

        &:hover
            fill colorA;

.device__screen
    position absolute
    overflow hidden
    height 0
    z-index 0

    &--00
        width 91.33%
        padding-bottom 159.19%
        left 4.33%
        top 8.79%

    &--01
        width 91.24%
        padding-bottom 51.98%
        left 4.38%
        top 6.02%

    &--02
        width 82.01%
        padding-bottom 47.44%
        left 9.04%
        top 4.33%

    &--03
        width 75.53%
        padding-bottom 40.34%
        left 12.38%
        top 9.29%

    &--04
        width 86.23%
        padding-bottom 125.71%
        left 6.89%
        top 7.25%

    &--05
        width 85.91%
        padding-bottom 61.18%
        left 7.04%
        top 7.39%

    &--06
        width 95.76%
        padding-bottom 44.20%
        left 2.13%
        top 4.08%

.device__content
    position absolute
    width 100%
    top 0
    left 0

.description__header
    display inline-block
    padding .75rem 2.25em .75rem margin0
    color color9
    background-color color0
    border-radius 0 3rem 3rem 0

.description__title
    // margin margin0 margin0 -.3em
    margin 0
    font-size 1.5rem
    text-transform uppercase

.description__link
    display inline-block
    // padding-top .5em
    // font-size 1.125rem
    // font-style italic

.description__text-wrap
    display flex
    position relative
    flex-direction column
    padding 0 margin0 margin1
    background-color color0
    color color8
    border-radius 0 3rem 0 3rem
    line-height 1.5

.description__text
    // margin-top 0
    color color8

.description__heading
    font-size 1.5rem
    margin-top "calc(%s / 2)" % margin0
    margin-bottom margin0
    color color9

.description__list
    margin-top 0
    
.description__next
    background none
    width 2.5rem
    padding 10%
    position absolute
    right 0
    top 50%
    padding 0
    border none
    transform translateY(-50%)
    opacity .75
    transition opacity .2s ease

    &:hover
        opacity 1

.description__half-circ
    fill colorA
    // opacity .75

.description__right-arrow
    stroke color9
    stroke-width 25
    stroke-linejoin round
    stroke-linecap round
    fill none
    

    



