//! Normalize.css
// @import 'normalize.css'

// Reset
@import reset

// Global Styles
@import global

// Header
@import header

// Portfolio
@import portfolio

// Bio
@import bio

// Footer
@import footer

// Media Queries
@import media-queries