//! Normalize.css
// @import 'normalize.css'

// Reset
@import reset

// Flickity
@import 'flickity.css'

// Global Styles
@import global

// Header
@import header

// Portfolio
@import portfolio

// Flickity Override
@import flickity-override

// Bio
@import bio

// Footer
@import footer

// Media Queries
@import media-queries